<div class="relative" *ngIf="!watch && data && data.length > 0">
  <swiper class="f-w swiper-wrapper relative" (indexChange)="onIndexChange($event)" [config]="config" [index]="currentIndex">
    <div class="f-w relative swiper-slide" *ngFor="let item of data" style="overflow: hidden;">
      <div class="img-tr relative rounded-md">
        <img [src]="item.type === 'tours' ? item.attributes['landscape-image-url'] : item.attributes['image-url']" alt="" class="rounded-md">
        <div class="p-a">
          <h1>
          {{ item.type === 'tours' ? item.attributes['descriptive-name'] : item.attributes.name }}
          </h1>
          <p class="p-sm">{{ item.type === 'tours' ? 'Overview' : 'Highlight of ' + data[0].attributes.name }}</p>
        </div>
        <div class="absolute shading"></div>
      </div>

      <div class="p-summary rounded-md" *ngIf="item.type !== 'tours'">
        {{ item.attributes.summary }}
      </div>
      <div class="p-description" [style.margin-top]="item.type === 'tours' ? '15px' : '10px'">
        {{ item.type === 'tours' ? item.attributes.summary : item.attributes.description }}
      </div>

      <app-check-experience></app-check-experience>
    </div>
  </swiper>
  <ng-container *ngIf="data.length > 1">
    <img class="absolute left-arrow" src="/assets/slider-left-arrow-icon.svg" alt="" (click)="goLeftSlider()">
    <img class="absolute right-arrow" src="/assets/slider-right-arrow-icon.svg" alt="" (click)="goRightSlider()">
    <div class="absolute dots-wrapper">
      <div class="dot" *ngFor="let item of data; let i=index" [ngClass]="{ 'dot__active': i === currentIndex }"></div>
    </div>
  </ng-container>
</div>


<div class="horizontal-arrows">
  <div class="swiper-button-prev" (click)="goLeftSlider()">
      <span class="icon icon-interface-left"></span>
  </div>
  <div class="swiper-button-next " (click)="goRightSlider()">
      <span class="icon icon-interface"></span>
  </div>
</div>
