.wrapper {
    width: 100%;
    padding-top: 35px;
    font-weight: 600;

    .change-activity {
        font-size: 22px;
        width: 100%;
        text-align: center;
    }
    .current-icon{
      position: absolute;
      top: -10px;
      right: -6px;
    }

    .activity-wrapper {
        margin-bottom: 100px;

        .activity {
            border-width: 2px;
            border-radius: 10px;
            padding: 15px 15px;
            margin: 10px auto;
            border-color: #c3c1c1;
            position: relative;
            &__active, &:hover {
                border-color: #02A388;
            }


            .current {
                top: 5px;
                right: 5px;

                .current-text {
                    font-size: 14px;
                    margin-right: 8px;
                    font-weight: 500;
                    margin-top: 42px;
                    color: #757575;

                }
            }

            .image {
                width: 80px;
                height: 80px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                border-radius: 10px;
                flex: 0 0 80px;
            }

            .detail-wrapper {
                position: relative;
                margin-left: 20px;

                .title-self-guided {
                    font-size: 14px;
                    color: #757575;
                }
                .title{
                  color: #757575;
                }
                .tags {
                    flex-wrap: wrap;
                    margin-top: 5px;

                    .tag {
                        margin-top: 10px;
                        font-size: 8px;
                        background: #eae7e7;
                        color: #757575;
                        border-width: 1px;
                        border-radius: 7px;
                        padding: 5px 8px;
                        font-weight: 700;
                        margin-right: 8px;
                        white-space: nowrap;
                    }
                }
            }
        }
    }

    .actions {
        bottom: -100px;
        width: 100%;
        padding: 0 28%;

        button {
            font-size: 17px;
            width: 138px;
            height: 50px;
            border-radius: 10px;
        }

        .cancel-button {
            border-color: #02A388;
            border-width: 3px;
            color: #02A388;
        }

        .ok-button {
            color: #fff;
            background-color: #02A388;
        }
    }
}