.wrapper{
  margin-top: 1%;
  display: flex;
  justify-content: space-between;
  max-height: 207px;
}

.btn-c{
  background-color: #02A388;
}
.inline-btn{
  width: 100%;
  max-width: 300px;
  float: right;
  display: flex;
  justify-content: space-evenly;
}

.dwn-l {
  width: 100px;

  img {
    display: block;
    height: 18px;
    margin-right: 5px;
  }
  
  div {
    color: #02A388;
  }
}