@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

html, body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.close-dialog-btn {
    top: -5px;
    right: -10px;
}

*,*:focus,*:hover{
    outline:none;
}