  <footer>
		<div class="footer_wrapper">
		<div class="footer_logo">
			<img src="../../../../assets/logo.svg" alt="logo">
		</div>

		<div class="footer_nav">
			<div>
        <a routerLink="/second-component" routerLinkActive="active" class="x-jk">Traveler References</a>
        <a routerLink="/second-component" routerLinkActive="active" class="x-jk">Terms of Use</a>
        <a routerLink="/second-component" routerLinkActive="active" class="x-jk">FAQ</a>
      </div>

      <div class="nav-k">
        <a routerLink="/second-component" routerLinkActive="active" class="nav-f">Privacy Policy</a>
        <a routerLink="/second-component" routerLinkActive="active" class="nav-a">Contact US</a>
      </div>

		</div>

		<div class="footer_social">
			<span>follow us</span>
			<div>
				<!-- <a href=""><img src="public4.png"></a>
				<a href=""><img src="public4.png"></a>
				<a href=""><img src="public4.png"></a> -->
			</div>
		</div>
		</div>

		<div class="footer_copyright">
			<span>copyright</span>
		</div>

	</footer>
